.entry {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 4%;
}

#journal {
    background:#7D9F51;
    border-radius: 2vw;
    border: solid 4px white;
    padding:5%;
    max-height: 40vw;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

